@model  SchemaNote_11170__2_.ViewModel.VM_ShowData
@using SchemaNote_11170__2_.Models.DataObject
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@*<style>
    .NoteField::after {
       content: attr(data-content);
    }
</style>*@


<div class="container body-content">
    
    @{
        foreach (var item1 in Model.TableDetail)
        {
        <form onsubmit="EmptyString('null')" method="post" class="panel panel-default" action="/Database/Details">
            <input name="Connection" type="hidden" value="@Model.Connection" />
            <div class="panel-heading">
                <strong class="objName" style="font-size:25px">
                    <input name="TableDetail[0].資料表名稱" type="hidden" value="@item1.資料表名稱" />
                    @item1.資料表名稱
                </strong>
                <sapn ondblclick="ShowElement(this)" class="NoteField" data-name="TableDetail[0].資料說明" data-content="table_Explanation" data-column_id="0" data-sortnum="0" data-class="form-control tabMS_Description">
                    <input type="hidden" name="TableDetail[0].資料說明" value="@item1.資料說明" />
                    @item1.資料說明
                    <span class="field-validation-valid" data-valmsg-for="[0].MS_Description" data-valmsg-replace="true"></span>
                </sapn>
                <button style="margin:5px" type="submit" id="submit" class="btn btn-primary" >提交</button>
                <span style="float:right" class="count" data-toggle="tooltip" data-placement="top" title="注意！此為參考值，非準確值。">
                    @Html.DisplayNameFor(model => model.Table.筆數)<strong class="text-info">@item1.筆數</strong>
                </span>
            </div>
            <div class="panel-body">
                <table class="tabDetail_left">
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Table.物件類型)
                            </td>
                            <td>
                                @item1.物件類型
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Table.結構描述名稱)
                            </td>
                            <td>
                                <input type="hidden" name="TableDetail[0].結構描述名稱" value="@item1.結構描述名稱" />
                                @item1.結構描述名稱
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Table.Create_date)
                            </td>
                            <td>
                                @item1.Create_date
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Table.Modify_date)
                            </td>
                            <td>
                                @item1.Modify_date
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="tabDetail_right">
                    <div>
                        @Html.DisplayNameFor(model => model.Table.備註)
                    </div>
                    <div ondblclick="ShowElement(this)" class="NoteField" data-name="TableDetail[0].備註" data-content="@item1.備註" data-column_id="0" data-sortnum="0" data-class="form-control">
                        <code>
                            <input type="hidden" name="TableDetail[0].備註" value="@item1.備註" />
                            @item1.備註
                        </code>
                        <span class="field-validation-valid" data-valmsg-for="[0].REMARK" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>


            <table class="table table-bordered table-hover table-responsive subTable">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.欄位名稱)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.欄位說明)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.資料型態)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.主鍵)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.不為Null)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.預設值)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Column.備註)
                        </th>
                    </tr>
                </thead>
                @{int count = 0;
                    foreach (var item2 in Model.ColumnDetail)
                    {

                        <tbody>
                            <tr>
                                <td rowspan="1">
                                    <input name="ColumnDetail[@count].欄位名稱" type="hidden" value="@item2.欄位名稱" />
                                    @item2.欄位名稱
                                </td>
                                <td ondblclick="ShowElement(this)" class="NoteField" data-name="ColumnDetail[@count].欄位說明" data-content="@item2.欄位說明" data-column_id="1" data-sortnum="1" data-class="form-control" rowspan="1">
                                    <input type="hidden" name="ColumnDetail[@count].欄位說明" value="@item2.欄位說明" />
                                    @item2.欄位說明
                                </td>
                                <td rowspan="1">
                                    @item2.資料型態
                                </td>
                                @if (item2.主鍵 == PK主鍵.YES.ToString())
                                {
                                    <td>
                                        <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input class="check-box" disabled="disabled" type="checkbox">
                                    </td>
                                }
                                @if (item2.不為Null == Null判斷.不為Null.ToString())
                                {
                                    <td>
                                        <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input class="check-box" disabled="disabled" type="checkbox">
                                    </td>
                                }
                                <td>
                                    @item2.預設值
                                </td>
                                <td ondblclick="ShowElement(this)" class="NoteField" data-name="ColumnDetail[@count].備註" data-column_id="5" data-sortnum="5" data-class="form-control">
                                    <input type="hidden" name="ColumnDetail[@count].備註" value="@item2.備註" />
                                    @item2.備註
                                </td>
                            </tr>
                        </tbody>
                        count++;
                    }
                }
            </table>
           
        </form>
        }
    }
</div>


<script type="text/javascript">
    

        //==============================原本寫法=====================================
    function ShowElement(element) {

        var oldhtml = element.textContent.trim();
        //建立新的input元素
        var newobj = document.createElement('input');
        
        //為新增元素新增型別
        newobj.type = 'text';
        newobj.name = $(element).data('name');

        //為新增元素新增value值
         newobj.value = oldhtml;

        //設定該標籤的子節點為空
        element.innerHTML = '';
        //新增該標籤的子節點，input物件
        element.appendChild(newobj);
        //設定選擇文字的內容或設定游標位置（兩個引數：start,end；start為開始位置，end為結束位置；如果開始位置和結束位置相同則就是游標位置）
        newobj.setSelectionRange(0, oldhtml.length);
        //設定獲得游標
        newobj.focus();
    }



</script>
