@model  SchemaNote_11170__2_.ViewModel.VM_ShowData
@using SchemaNote_11170__2_.Models.DataObject

@{
    ViewBag.Title = "ShowData";
}

<h2>ShowData</h2>

@{

    int count = 0;

    <div class="container body-content">
        <div class="form-inline search">
            <div class="form-group form-group-lg">
                <label for="choose">搜尋項目</label>
                <select id="choose" class="form-control">
                    <option value="objName">物件名稱</option>
                    <option value="colName">欄位名稱</option>
                    <option value="description">中文名稱</option>
                    <option value="remark">備註</option>
                </select>
            </div>
            <div class="form-group form-group-lg">
                <label for="switch">搜索方式</label>
                <select id="switch" class="form-control">
                    <option value="fuzzy" selected="">模糊搜索</option>
                    <option value="exact">精確搜索</option>
                </select>
            </div>
            <div class="form-group form-group-lg">
                <input id="SearchTextBox" type="text" class="form-control" placeholder="Enter key words...">
            </div>
            <div class="form-group form-group-lg">
                <input type="button" class="form-control" onclick="ExportExtendedPropScript()" value="匯出擴充屬性Script">
            </div>
        </div>
        <br>
        @*===============================↑↑↑↑↑↑搜尋↑↑↑↑↑===================================*@

        @foreach (var item1 in Model.TableDetail)
        {
            count++;
            <div class="panel-group accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default ">

                    <div class="panel-heading" role="tab">
                        <span class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse@(count)" aria-expanded="true" aria-controls="collapse@(count)">
                            <span class="caret"></span>
                            <strong class="objName">
                                @item1.table_Name
                            </strong>
                        </span>
                        <a class="description text-info" href="/Database/Details?name=@(item1.table_Name)&connection=@(Model.Connection)" >
                            @if (item1.table_Explanation != "null")
                            {
                                @item1.table_Explanation
                            }
                            else
                            {
                                <code>
                                    @item1.table_Explanation
                                </code>
                            }
                        </a>
                        <span class="count" data-toggle="tooltip" data-placement="top" title="" data-original-title="注意！此為參考值，非準確值。" style="float:right">
                            @Html.DisplayNameFor(model => item1.table_Count)<strong class="text-info">@item1.table_Count</strong>
                        </span>
                    </div>
                    <div id="collapse@(count)" class="panel-body panel-collapse tabDetail collapse " role="tabpanel" aria-expanded="true" style="">
                        <table class="tabDetail_left">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => item1.table_ObjectType)  
                                    </td>
                                    <td>
                                        @item1.table_ObjectType
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => item1.table_Struct)  
                                    </td>
                                    <td>
                                        @item1.table_Struct
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => item1.table_CreateDate)  
                                    </td>
                                    <td>
                                        @item1.table_CreateDate
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => item1.table_ModifyDate)  
                                    </td>
                                    <td>
                                        @item1.table_ModifyDate
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tabDetail_right">
                            <div>
                                @Html.DisplayNameFor(model => item1.table_Description)
                            </div>
                            <div class="NoteField">

                                <a class="remark text-info" href="/Database/Details?name=@(item1.table_Name)&connection=@(Model.Connection)">
                                    @if (item1.table_Description != "null")
                                    {
                                        @item1.table_Description
                                    }
                                    else
                                    {
                                        <code>
                                            @item1.table_Description
                                        </code>
                                    }
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover subTable" border="1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model=>model.Column.column_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_Explanation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_DataType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_PK)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_IsNotNull)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_Default)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Column.column_Description)
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item2 in Model.ColumnDetail)
                        {
                            if (item2.table_Name == item1.table_Name)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="colName">
                                                @item2.column_Name
                                            </span>
                                        </td>
                                        <td>
                                            <a class="description text-info" href="/Database/Details?name=@(item1.table_Name)&connection=@(Model.Connection)">
                                                @if (item2.column_Explanation != "null")
                                                {
                                                    @item2.column_Explanation
                                                }
                                                else
                                                {
                                                    <code>
                                                        @item2.column_Explanation
                                                    </code>
                                                }
                                            </a>
                                        </td>
                                        <td>
                                            @item2.column_DataType
                                        </td>
                                        @{
                                            if (item2.column_PK == PK主鍵.YES.ToString())
                                            {
                                                <td>
                                                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <input class="check-box" disabled="disabled" type="checkbox">
                                                </td>
                                            }
                                        }

                                        @{
                                            if (item2.column_IsNotNull == Null判斷.不為Null.ToString())
                                            {
                                                <td>
                                                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <input class="check-box" disabled="disabled" type="checkbox">
                                                </td>
                                            }
                                        }
                                        <td>
                                            @item2.column_Default
                                        </td>
                                        <td>
                                            <a class="remark text-info" href="/Database/Details?name=@(item1.table_Name)&connection=@(Model.Connection)">
                                                @if (item2.column_Description != "null")
                                                {
                                                    @item2.column_Description
                                                }
                                                else
                                                {
                                                    <code>
                                                        @item2.column_Description
                                                    </code>
                                                }
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        }
    </div>
}

