@using SchemaNote_11169__2_.ViewModels
@model ConnectionViewModel
<div class="container body-content">


    <h1>Overview</h1>
    <!-- 測試效能
    <h2>ADO_dot_NET:0 毫秒</h2>
    <h2>Dapper:0 毫秒</h2>
    <h2>ADO_dot_NET2:0 毫秒</h2>
    -->
    <div class="form-inline search">
        <div class="form-group form-group-lg">
            <label for="choose">搜尋項目</label>
            <select id="choose" class="form-control"><option value="objName">物件名稱</option><option value="colName">欄位名稱</option><option value="description">中文名稱</option><option value="remark">備註</option></select>
        </div>
        <div class="form-group form-group-lg">
            <label for="switch">搜索方式</label>
            <select id="switch" class="form-control">
                <option value="fuzzy" selected="">模糊搜索</option>
                <option value="exact">精確搜索</option>
            </select>
        </div>
        <div class="form-group form-group-lg">
            <input id="SearchTextBox" type="text" class="form-control" placeholder="Enter key words...">
        </div>
        <div class="form-group form-group-lg">
            <input type="button" class="form-control" onclick="ExportExtendedPropScript()" value="匯出擴充屬性Script">
        </div>
    </div>
    <br>
    <div class="panel-group accordion" id="accordion1" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default ">


            @{
                int c = 1;

                foreach (var b in Model.TableDetailListViewModel)
                {
                    c++;
                    <div class="panel-heading" role="tab">
                        <span class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion1" href="#@c" aria-expanded="false" aria-controls="collapse1">
                            <span class="caret"></span>
                            <strong class="objName">
                                @b.物件名稱
                            </strong>
                        </span>
                        <a class="description text-info" href="/Home/Details/85575343">
                            <code>
                                @b.物件說明
                            </code>
                        </a>
                        <span class="count" data-toggle="tooltip" data-placement="top" title="" data-original-title="注意！此為參考值，非準確值。">
                            筆數:<strong class="text-info">@b.總筆數</strong>
                        </span>
                    </div>

                    <div id="@c" class="panel-body panel-collapse collapse tabDetail" role="tabpanel">

                        <table class="tabDetail_left">
                            <tbody>
                                <tr>
                                    <td>
                                        物件類型
                                    </td>


                                    <td>
                                        @b.物件類型
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        結構描述名稱
                                    </td>
                                    <td>
                                        @b.結構描述名稱
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        物件創建日期
                                    </td>
                                    <td>
                                        @b.物件創造日期
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        物件修改日期
                                    </td>
                                    <td>
                                        @b.物件修改日期
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tabDetail_right">
                            <div>
                                備註
                            </div>
                            <div>
                                <a class="remark text-info" href="/Home/Details/85575343">
                                    <code>
                                        @b.備註
                                    </code>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover subTable" border="1">
                        <thead>
                            <tr>
                                <th>
                                    欄位名稱
                                </th>
                                <th>
                                    欄位說明
                                </th>
                                <th>
                                    資料型態
                                </th>
                                <th>
                                    主鍵
                                </th>
                                <th>
                                    不為Null
                                </th>
                                <th>
                                    預設值
                                </th>
                                <th>
                                    備註
                                </th>
                            </tr>
                        </thead>

                        @foreach (var a in Model.ColumnDetailListViewModel)
                        {
                            if (b.物件名稱 == a.資料表)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="colName">
                                                @a.欄位名稱
                                            </span>
                                        </td>
                                        <td>
                                            <a class="description text-info" href="/Database/ShowView?table=@a.資料表&sql=@Model.ConnectionString">
                                                <code>
                                                    @a.欄位說明
                                                </code>
                                            </a>
                                        </td>
                                        <td>
                                            @a.資料型態
                                        </td>

                                        <td>
                                            @if (a.主鍵 == "1")
                                            {
                                                <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                            }
                                            else
                                            {
                                                <input class="check-box" disabled="disabled" type="checkbox">
                                            }
                                        </td>
                                        <td>
                                            @if (a.不為NULL != "YES")
                                            {
                                                <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                            }
                                            else
                                            {
                                                <input class="check-box" disabled="disabled" type="checkbox">
                                            }
                                        </td>
                                        <td>
                                            <span class="colName">
                                                @a.預設值
                                            </span>
                                        </td>
                                        <td>
                                            <a class="remark text-info" href="/Database/ShowView?table=@a.資料表&sql=@Model.ConnectionString">
                                                <code>
                                                    @a.備註
                                                </code>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>

                            }

                        }
                    </table>
                }
            }
        </div>

    </div>




    <hr>
    <footer>
        <p>© 2019 - SchemaNote (Version: 0.1.3)</p>
    </footer>
</div>




