@model Tuple<List<SchemaNote_11170.Models.DO_TableDetail>, List<SchemaNote_11170.Models.DO_ColumnDetail>>

@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>


@{
    int count = 0;

<div class="container body-content">


    <div class="form-inline search">
        <div class="form-group form-group-lg">
            <label for="choose">搜尋項目</label>
            <select id="choose" class="form-control">
                <option value="objName">物件名稱</option>
                <option value="colName">欄位名稱</option>
                <option value="description">中文名稱</option>
                <option value="remark">備註</option>
            </select>
        </div>
        <div class="form-group form-group-lg">
            <label for="switch">搜索方式</label>
            <select id="switch" class="form-control">
                <option value="fuzzy" selected="">模糊搜索</option>
                <option value="exact">精確搜索</option>
            </select>
        </div>
        <div class="form-group form-group-lg">
            <input id="SearchTextBox" type="text" class="form-control" placeholder="Enter key words...">
        </div>
        <div class="form-group form-group-lg">
            <input type="button" class="form-control" onclick="ExportExtendedPropScript()" value="匯出擴充屬性Script">
        </div>
    </div>
    <br>


    @foreach (var item1 in Model.Item1)
    {
    count++;
        <div class="panel-group accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default ">


                <div class="panel-heading" role="tab">
                    <span class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse@(count)" aria-expanded="true" aria-controls="collapse@(count)">
                        <span class="caret"></span>
                        <strong class="objName">
                            @item1.table_Name
                        </strong>
                    </span>
                    <a class="description text-info" href="/Home/Details/85575343">
                        <code>
                            @item1.table_Explanation
                        </code>
                    </a>
                    <span class="count" data-toggle="tooltip" data-placement="top" title="" data-original-title="注意！此為參考值，非準確值。" style="float:right">
                        筆數:<strong class="text-info">@item1.table_Count</strong>
                    </span>
                </div>
                <div id="collapse@(count)" class="panel-body panel-collapse tabDetail collapse " role="tabpanel" aria-expanded="true" style="">
                    <table class="tabDetail_left">
                        <tbody>
                            <tr>
                                <td>
                                    物件類型：
                                </td>
                                <td>
                                    資料表
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    結構描述名稱：
                                </td>
                                <td>
                                    @item1.table_Type
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    物件創建日期：
                                </td>
                                <td>
                                    @item1.table_CreateTime
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    物件修改日期：
                                </td>
                                <td>
                                    @item1.table_ModifyTime
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tabDetail_right">
                        <div>
                            備註
                        </div>
                        <div>
                            <a class="remark text-info" href="/Home/Details/85575343">
                                <code>
                                    @item1.table_Description
                                </code>
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-hover subTable" border="1">
                    <thead>
                        <tr>

                            <th>
                                欄位名稱
                            </th>
                            <th>
                                欄位說明
                            </th>
                            <th>
                                資料型態
                            </th>
                            <th>
                                主鍵
                            </th>
                            <th>
                                不為Null
                            </th>
                            <th>
                                預設值
                            </th>
                            <th>
                                備註
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item2 in Model.Item2)
                    {
                        if (item2.table_Name == item1.table_Name)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="colName">
                                            @item2.column_Name
                                        </span>
                                    </td>
                                    <td>
                                        <a class="description text-info" href="/Home/Details/85575343">
                                            <code>
                                                @item2.column_Explanation
                                            </code>
                                        </a>
                                    </td>
                                    <td>
                                        @item2.column_Type
                                    </td>
                                    @{
                                        if (item2.column_Key == "1")
                                        {
                                            <td>
                                                <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input class="check-box" disabled="disabled" type="checkbox">
                                            </td>
                                        }
                                    }

                                    @{
                                        if (item2.column_IsNull == "YES")
                                        {
                                            <td>
                                                <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input class="check-box" disabled="disabled" type="checkbox">
                                            </td>
                                        }
                                    }
                                    <td>
                                        @item2.column_Default
                                    </td>
                                    <td>
                                        <a class="remark text-info" href="/Home/Details/85575343">
                                            <code>
                                                @item2.column_Description
                                            </code>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    }
                </table>
            </div>
        </div>
    }
</div>
}

